/* class */

.btn {
  background-color: #FFFFFF; 
  border-color: #001C48; 
  color: #001C48;
  margin-top: 4px;
}

.btn:active {
  background-color: #1E5288 !important;
  border-color: #1E5288 !important; 
  box-shadow: 0 0 0 0.1rem rgb(30, 82, 136, 0.2) !important;
  color: #FFFFFF !important;
}

.btn:focus {
  background-color: #FFFFFF;
  border-color: #001C48; 
  box-shadow: 0 0 0 0.1rem rgb(0, 28, 72, 0.2);
  color: #001C48;
}

.btn:hover {
  background-color: #001C48;
  border-color: #001C48; 
  color: #FFFFFF;
}

.control-label {
  color: #343a40; font-weight: bold;
}

.datepicker {
  background-color: #fff !important; color: #343a40;
}

.page-support-text {
  color: #191919;
}

.figure-footer-help-text {
  color: #989898; font-style: italic;
}

.figure-title {
  color: #3b3b3b !important; font-weight: plain !important; margin-bottom: 0.3em !important; margin-top: 0;
}

.help-block {
  color: #989898;
}

.histogram-caption {
  color: #989898; font-weight: plain; margin-top: 0;
}

.histogram-subtitle {
  color: #989898; font-weight: plain; margin-top: 0;
}

.selectize-input.items.full.has-options.has-items {
  border-radius: 0px;
}

.shiny-notification {
  background-color: rgba(129,211,235,0.9) !important; border: none !important; box-shadow: 1px 2px rgba(0,0,0,0.1) !important; color: #1E5288 !important; font-style: italic !important; position: fixed !important; top: calc(50%) !important; left: calc(50% - 100px) !important;
}

.time-series-caption {
  color: #989898; font-weight: plain; margin-top: 0;
}

.time-series-subtitle {
  color: #989898; font-weight: plain; margin-top: 0;
}

/* id */

#sidebarPanel {
  background-color: #E2E9EB !important; 
  margin-bottom: 72px;
}
